td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    border: 1px solid black;
    padding: 8px;
    background-color: #f2f2f2;
    text-align: left;
}
table {
    border-collapse: collapse;
    width: 100%;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}