.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
.item {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 80px;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.item1 { background-color: #2c9bdb; }
.item2 { background-color: #2c9bdb; }       
.item3 { background-color: #2c9bdb; }
.item4 { background-color: #2c9bdb; }
.item5 { background-color: #2c9bdb; }
.item6 { background-color: #2c9bdb; }
.item:hover {
    background-color: #ff1100;
    cursor: pointer;
}
.container:hover .item:not(:hover) {
    background-color: #0531f8;
}
.item:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
}
.item:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.alert {
    color: rgb(253, 0, 0);
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
.alert:hover {
    color: rgb(10, 10, 10);
    cursor: pointer;
    transition: color 0.3s ease;
}
