* {margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: #f5f5f5;
}
.product-section {
    padding: 50px 40px;
     h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;}
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    margin-bottom: 15px;}
     h3 {
    font-size: 16px;
    margin-bottom: 8px;}
    p {
    font-size: 13px;
    color: #555;
    margin-bottom: 10px;}
}
.price {
    color: green;
    font-weight: bold;
    margin-bottom: 12px;
}
.card button {
    background: #0d6efd;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
@media (max-width: 500px) {
    .product-grid {
        grid-template-columns: 1fr;}
}
