
* {margin: 0;
  padding: 0;}

.navbar {
background-color: #380da4;
color: rgb(243, 52, 52);
padding: 15px 40px;
display: flex;
align-items: center;
justify-content: space-between;}

.logo {
  font-size: 24px;
  font-weight: bold;}

.menu {
  display: flex;
  gap: 25px;
  a {
    text-decoration: none;
    color: white;
    font-size: 16px;}
    }
     
.right {
  display: flex;
  gap: 20px;
  align-items: center;
  a {
  text-decoration: none;
  color: rgb(255, 0, 0);
  font-size: 16px;}
  }
       
.body {
  padding: 40px;
  p {
    font-size: 16px;
    color: #000000;}
  h1 {
    font-size: 32px;
    margin-bottom: 10px;}
    }

    