body{
    background-color: rgb(83, 57, 200);
    color: white;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#demo{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
button{
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: black;
}
button:active{
    transform: scale(0.95);
}
